<table class="table table-light table-striped table-bordered table-hover">
  <thead class ="thead-dark">
  <tr>
    <th><div><strong>Name</strong></div></th>
    <th><div><strong>Middle name</strong></div></th>
    <th><div><strong>Surname</strong></div></th>
    <th><div><strong>Email</strong></div></th>
    <th><div><strong>Phone number</strong></div></th>
    <th><div><strong>Details</strong></div></th>
  </tr>
  </thead>
  <tbody>
  <% @clients.each do |client| %>
    <%= render client %>
    <td>
      <%= link_to "Show this client", client %>
    </td>
  </tr>
  </tbody>
  <% end %>
</table>
 <%= link_to 'New client', new_client_path, class:"btn btn-secondary" %>
